<div class="container">
  <h1><%= @restaurant.name %></h1>
  <h5>Address: <%= @restaurant.address %></h5>
  <h5>Category: <%= @restaurant.category %></h5>
  <p><%= Faker::Restaurant.description %></p>

  <div>
    <h5>Reviews</h5>
    <div class="card mb-3" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <% if @restaurant.reviews.any? %>
          <% @restaurant.reviews.each do |review| %>
            <li class="list-group-item">
              <p>Rating: <%= review.rating %>/5</p>
              <p>Comment: <%= review.content %></p>
            </li>
          <% end %></div>
      </ul>
        <% else %>
          <p>No reviews yet.</p>
        <% end %>
  </div>

  <h5>Add a new review</h5>
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :rating, collection: 0..5, include_blank: false %>
    <%= f.input :content %>
    <%= f.submit class:'btn btn-primary' %>
  <% end %>

  <div class="d-flex mt-3 mb-3">
    <%= link_to 'Back to restaurants', restaurants_path, class: 'btn btn-secondary me-3'  %>
  </div>
</div>
